a:hover{
    background-color:(255, 218, 185);
}

img{
    float: left;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc69b;
    
  }
  
  li {
    float: left;
    
 }
  
 a li {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration-line: var(--bg-body);
    
  }
  
  
header .logo{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 35px;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

.cards{
    display: flex;
    align-items: center;
    margin-top: 50px;

}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(255, 218, 185);
    width: 350px;
    height: 450px;
    border-radius: 20px 20px;
    color: #000000;
} 

.card img{
    width: 320px;
    height: 320px;
    border-radius: 20px 20px 0px 0px;
}